<app-inicio></app-inicio>
<div class="container">
  <div
    style="background-color:black;color:white;text-align:center; font-size:28px; width:1390px;height:45px; position:relative; left:-14%;">
    Oferta
  </div>
</div>
<div class="slide-container swiper">
  <div class="slide-content">
      <div class="card-wrapper swiper-wrapper">
          <div class="card swiper-slide">
              <div class="image-content">
                  <span class="overlay"></span>

                  <div class="card-image">
                      <img src="assets/Imagenes/perro.png" alt="" class="card-img">
                  </div>
              </div>

              <div class="card-content">
                  <h2 class="name">Perro</h2>
                  <p class="description">Encuentra planes y productos para tu mascota.</p>

                  <button class="button">Ver más</button>
              </div>
          </div>
          <div class="card swiper-slide">
              <div class="image-content">
                  <span class="overlay"></span>

                  <div class="card-image">
                      <img src="assets/Imagenes/gato.png" alt="" class="card-img">
                  </div>
              </div>

              <div class="card-content">
                  <h2 class="name">Gato</h2>
                  <p class="description">Encuentra planes y productos para tu mascota.</p>

                  <button class="button">Ver más</button>
              </div>
          </div>
          <div class="card swiper-slide">
              <div class="image-content">
                  <span class="overlay"></span>

                  <div class="card-image">
                      <img src="assets/Imagenes/pez.png" alt="" class="card-img">
                  </div>
              </div>

              <div class="card-content">
                  <h2 class="name">Peces</h2>
                  <p class="description">Encuentra planes y productos para tu mascota.</p>

                  <button class="button">Ver más</button>
              </div>
          </div>
          <div class="card swiper-slide">
              <div class="image-content">
                  <span class="overlay"></span>

                  <div class="card-image">
                      <img src="assets/Imagenes/conejo.jpg" alt="" class="card-img">
                  </div>
              </div>

              <div class="card-content">
                  <h2 class="name">Animales pequeños</h2>
                  <p class="description">Encuentra planes y productos para tu mascota.</p>

                  <button class="button">Ver más</button>
              </div>
          </div>
      </div>
  </div>

  <div class="swiper-button-next swiper-navBtn"></div>
  <div class="swiper-button-prev swiper-navBtn"></div>
  <div class="swiper-pagination"></div>
</div>

