<div class="container" style="position:absolute; margin: 90px; height:20px;margin-top: 100px;left: -3%;">

  <h1 style="font-size: 4rem;"> <strong>¡BIENVENIDOS!</strong></h1>

  <h2 style="font-size: 1.9rem;">
    <strong>Somos Mascota Feliz, tu veterinaria de confianza.</strong>
  </h2>
  <p> Visitanos en:</p>
  <button type=" submit" class="btn" style=" color:white; background-color: #2CCAAE; border-radius: 20px;">
    cl. 15 #78-33.
    <img src="Imagenes/icono2.svg" alt="">
  </button>
</div>
<div style="position:relative; left:780px; width:370px;"><img style="width:405px;" src=" assets/Imagenes/persona2.jpg" cl alt="">
</div>
