<nav class="navbar navbar-expand-lg navbar-light" style="width:60; height:90px;">
  <div class="container-fluid">
    <img src="assets/Imagenes/logo_nuevo.png" alt="" class="logo">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar align-items-right d-flex justify-content-around p-2 w-54" id="navbarSupportedContent">
      <div class="items">
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="inicio">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="">Acerca de nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="seguridad/identificacion">Inicio de Sesión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="">Registrarse</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

